.coaster {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--outer-bg);
  display: flex;
  position: var(--position);
  top: var(--top);
  bottom: var(--bottom);
  right: var(--right);
  left: var(--left);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.coaster-ring {
  width: calc(var(--size) * 0.9);
  height: calc(var(--size) * 0.9);
  border-radius: 50%;
  background: var(--ring-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px dashed var(--ring-border);
}

.coaster-inner {
  width: calc(var(--size) * 0.80);
  height: calc(var(--size) * 0.80);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--inner-bg) var(--inner-image) center/cover no-repeat;
}

.coaster-inner p{
    font-size: 2.4rem;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px -1px 2px rgba(79, 7, 21, 1), 1px 1px 1px rgba(250, 250, 250, 1);
    padding: 1rem;
}