:root {
    --almond: #EFD3C5;
    --dark-almond: #C6AA9D;
    --pink-almond: #E2B3C3;
    --dark-pink-almond: #B58D9A;
    --deep-puce: #AD5B67;
    --dark-deep-puce: #8C4953;
    --antique-ruby: #781728;
    --dark-antique-ruby: #641221;
    --dark-scarlet: #4F0715;
    --gold: #B37D5B;
    --dark-gold: #896046;
}