.Menu h1{
  color: var(--almond);
  text-transform: lowercase;
  font-size: var(--h1-font-size);
  z-index: 1;
  font-family: 'Gangitem', sans-serif;
}

.Menu p {
  color: var(--deep-puce);
  position: relative;
  text-transform: uppercase;
  justify-content: center;
  z-index: 2;
  top: calc(var(--h1-font-size) - 8.1 * var(--p-font-size));
  margin: 0 auto;
  font-size: var(--p-font-size);
  font-family: 'HalyardDisplay', sans-serif;
}

.Menu hr{
  color: var(--gold);
  background-color: var(--gold);
  width: var(--hr-width);
  position: relative;
  z-index: 2;
  top: calc(var(--h1-font-size) - 8.65 * var(--p-font-size));
  height: 1px;
  margin: auto;
}